"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch\
$git_commit\
$git_status\
$fill\
$python\
$lua\
$nodejs\
$golang\
$haskell\
$rust\
$ruby\
$aws\
$docker_context\
$jobs\
$cmd_duration\
$line_break\
$character"""

right_format = ""
add_newline = true
palette = "monokai"

[palettes.monokai]
# === Default Monokai Palette ===
red = "#F92672"
orange = "#FD971F"
yellow = "#E6DB74"
green = "#A6E22E"
cyan = "#66D9EF"
purple = "#AE81FF"

# === Additional Colors ===
guide = "#464741"
guide_active = "#767771"
whitespace = "#464741"
bracket = "#888888"

# === Status Colors ===
success = "#A6E22E"
warning = "#FD971F"
error = "#F92672"
info = "#66D9EF"

# === Extended Colors ===
white = "#F8F8F2"
light_gray = "#C2C2BF"
gray = "#90908A"
dark_gray = "#75715E"
black = "#1e1f1c"

# === Git Colors ===
git_added = "#A6E22E"
git_modified = "#E6DB74"
git_deleted = "#F92672"
git_renamed = "#AE81FF"
git_untracked = "#FD971F"
git_conflicted = "#F92672"

[directory]
style = 'bold cyan'
format = '[$path]($style)[$read_only]($read_only_style) '
truncation_length = 3
truncation_symbol = '…/'
truncate_to_repo = false
read_only = "󰌾"
read_only_style = "red"

[directory.substitutions]
'/Volumes/External' = 'Ext'

[fill]
symbol = ' '

[cmd_duration]
min_time = 2_000
format =" [$duration]($style) "
style ="yellow bold"
show_notifications = true
min_time_to_notify = 60_000

# === Git Modules ===
[git_branch]
style = 'green'
symbol = ' '
format = '[on](fg) [$symbol$branch ]($style)'

[git_commit]
style = "purple"
only_detached = true
tag_disabled = false
tag_symbol = '  '

[git_status]
style = 'red'
format = '([$all_status$ahead_behind]($style) )'
conflicted = "[=](bold git_conflicted)"
ahead = "[⇡](bold git_added)"
behind = "[⇣](bold git_modified)"
diverged = "[⇕](bold git_modified)"
untracked = "[?](bold git_untracked)"
stashed = '[\$](bold git_modified)'
modified = "[!](bold git_modified)"
staged = "[+](bold git_added)"
renamed = "[»](bold git_renamed)"
deleted = "[✘](bold git_deleted)"
typechanged = "[](bold git_modified)"

# === Language Specific Modules ===
[aws]
symbol = ' '                                           # ' '
style = 'yellow'
format = '[$symbol($profile )(\[$duration\] )]($style)'

[python]
style = 'cyan'
symbol = " "
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
pyenv_version_name = true
pyenv_prefix = ''

[lua]
format = '[$symbol($version )]($style)'
symbol = " "

[nodejs]
style = 'green'
symbol = " "

[golang]
style = 'cyan'
symbol = " "

[haskell]
style = 'purple'
symbol = " "

[rust]
style = 'orange'
symbol = "󱘗 "

[ruby]
style = 'red'
symbol = " "

[package]
symbol = '󰏗 '

[docker_context]
symbol = " "
style = 'cyan'
format = '[$symbol]($style) $path'
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile']
detect_extensions = ['Dockerfile']

[jobs]
symbol = ' '
style = 'red'
number_threshold = 1
format = '[$symbol]($style)'

# === Nerd Font Symbols Preset ===
# This preset is copied from: https://starship.rs/presets/nerd-font
# Modules that only has symbol customized are put below, other modules are put before this section.

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[rlang]
symbol = "󰟔 "

[scala]
symbol = " "

[status]
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "
